h1
{
  color: white ;
  text-align: center;
}
/* .row{
  
  background-color:#660000  ;
  
} */
body{

  background-image: url("http://getwallpapers.com/wallpaper/full/7/c/9/1435739-best-hd-star-wallpaper-3564x2005-1080p.jpg"); 
 background-repeat: no-repeat;
 background-size:cover; 
}
modal-body{
  background-color: a#839192;
}
button{

  background-color: black;
}
