h1
{
  color: white;
  text-align: center;
}

body{

  background-image: url("http://www.talencia.cat/mypics/max/5/58162_cool-android-backgrounds.jpg"); 
 background-repeat: no-repeat;
 background-size:cover; 
}
modal-body{
  background-color: a#839192;
}
button{
 
  background-color: black;
}
h2{
  color:white;
}
