{%extends 'all_photos/base.html'%}


{% block content %}
{{block.super}}
{% for pic in image %}

  <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <h2 class="text-center"> {{ pic.location_name }} </h2>
      <h2 class="text-center"> {{ pic.category_name }} </h2>
      <h2 class="text-center"> {{ pic.image_name }} </h2>
      <h2 class="text-center"> {{ pic.image_description}} </h2>
    </div>

    <!--Display images  -->
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <img src="{{pic.image_path.url}}" class="img-responsive" alt="Image">
      </div>

  </div>
  {%endfor%}
{% endblock %}

