{%extends 'all_photos/base.html'%}


{% block content %}
{{block.super}}
{% for pic in image %}

  <div class="row">
    <!--Display images  -->
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6"><br>
      <img src="{{pic.image_path.url}}" class="img-responsive" alt="Image">
      <h2> name:{{ pic.image_name }} </h2>
        <p> description:{{ pic.image_description}} </p>
        <h3> {{ pic.location_name }} </h2>
          <h3> {{ pic.category_name }} </h3>
           <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6"> 
    </div>
    
        
        
      </div>
</div>
    

    
  {%endfor%}
{% endblock %}

