{%extends 'all_photos/base.html'%}


{% block content %}
{{block.super}}
{% for pic in image %}

<div class="row">
  <!--Display images  -->
  <!-- <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6"><br> -->
    <div class="col-xs-12 col-sm-4 col-md-2 col-lg-2 picture-card">
    <img src="{{pic.image_path.url}}" class="img-responsive" alt="Image">
    <h2> name:{{ pic.image_name }} </h2>
    <p> description:{{ pic.image_description}} </p>
    <p>location:{{ pic.location }}</p>
    <p>category:{{ pic.category}}</p>
  </div>
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">


  </div>
</div>



{%endfor%}
{% endblock %}


